<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="../static/css/bootstrap-5.3.2/dist/css/bootstrap.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6b889cae7a.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Open+Sans&display=swap" rel="stylesheet">
  <!-- <script src="../static/css/bootstrap-5.3.2/dist/js/bootstrap.bundle.js"></script> -->
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="navbar-title">
        <a class="navbar-name" id="masthead-a">Suyoung Park</a> 
      </div>
      <ul class="navbar-menu">
        <li><a id="masthead-b">Introduction</a></li>
        <li><a id="skills-b">Skills</a></li>
        <li><a id="projects1-b">Projects</a></li>
        <li><a id="vision-b">Vision</a></li>
      </ul>
      <a class="navbar-toggleBtn">
        <i class="fa-solid fa-bars"></i>
      </a>
    </nav>
    <script>
      const toggleBtn=document.querySelector('.navbar-toggleBtn');
      const menu=document.querySelector('.navbar-menu');
      toggleBtn.addEventListener('click', ()=>{
        menu.classList.toggle('active')
      });

      function scrollToSection(sectionId) {
        console.log("Scrolling to section:", sectionId);

        var sectionElement = document.getElementById(sectionId);
    
        if (sectionElement) {
          var offset = (window.innerHeight - sectionElement.scrollHeight) / 2;
          console.log("var offset:", offset);
          console.log("Target offsetTop:", sectionElement.offsetTop);
          console.log("offsetTop-offset:",sectionElement.offsetTop - offset)
          window.scrollTo({
            top: sectionElement.offsetTop - offset-70,
            behavior: 'smooth'
          });

          console.log("Script is running!");
        } 
      }
      var target_location_mastheada = document.getElementById("masthead-a");
      if (target_location_mastheada){
      target_location_mastheada.addEventListener("click", function(){
        scrollToSection("masthead")
        })
      }
      var target_location_mastheadb = document.getElementById("masthead-b");
      if (target_location_mastheadb){
      target_location_mastheadb.addEventListener("click", function(){
        scrollToSection("masthead")
        })
      }
      var target_location_skills = document.getElementById("skills-b");
      if (target_location_skills){
      target_location_skills.addEventListener("click", function(){
        scrollToSection("skills") 
        })
      }
      var target_location_projects1 = document.getElementById("projects1-b");
      if (target_location_projects1){
      target_location_projects1.addEventListener("click", function(){
        scrollToSection("projects1") 
        })
      }
      var target_location_vision = document.getElementById("vision-b");
      if (target_location_vision){
      target_location_vision.addEventListener("click", function(){
        scrollToSection("vision") 
        })
      }
    </script>
  </header>
  <main>
    <div class="box-container">
      <div class="box-item">
        <div class="first-page" id='masthead'>
          <div class="first-page-photo">photo</div>
          <div class="first-page-name">name</div>
          <div class="first-page-univname">univ name</div>
          <div class="first-page-classes">classes</div>
          <div class="first-page-git">git</div>
          <div class="first-page-linkedin">linkedin</div>
          <div class="first-page-mail">mail</div>
          <div class="first-page-phone">phone</div>
        </div>
      </div>
      <div class="box-item">
        <div class="second-page" id="skills">
          <div class="second-page-title">tools and skills</div>
          <article class="second-page-1-title">title1</article>
          <article class="second-page-1-skills">skills1</article>
          <article class="second-page-2-title">title2</article>
          <article class="second-page-2-skills">skills2</article>
          <article class="second-page-3-title">title3</article>
          <article class="second-page-3-skills">skills3</article>
          <article class="second-page-4-title">title4</article>
          <article class="second-page-4-skills">skills4</article>
        </div>
      </div>
      <div class="box-item">
        <div class="project-page1" id="projects1">
          <div class ="project-page1-title">title</div>

          <div class = "project-page1-feature">features</div>
          <div class = "project-page1-image">image</div>
          <article class = "project-page1-abstract">abstract</article>
          <div class = "project-page1-link">link</div>
        </div>
      </div>
      <div class="box-item">
        <div class="project-page1">4</div>
      </div>
      <div class="box-item">
        <div class="project-page1">5</div>
      </div>
      <div class="box-item">
        <div class="project-page1">6</div>
      </div>
      <div class="box-item">
        <div class="vision-page" id="vision">
          <div class="vision-page-title">title</div>
          <div class="vision-page-feature">feature</div>
          <div class = "vision-page-image">image</div>
          <article class ="vision-page-article">article</article>
        </div>
      </div>
    </div>
  </main>
</body>

</html>