body{
    margin: 0px;
    font-size: max(12px, 1.5vw);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #263343;
    padding:max(3px,0.03%) 2%;
    z-index: 1000;
}
.navbar a{
    text-decoration: none;
    color:white;
}
.navbar-title a{
    font-size: 2rem;
}

.navbar-menu{
    display:flex;
    list-style: none;
    padding-left: 0px;
}
.navbar-menu li {
    margin-right: 20px;
}
#masthead-a{
    cursor: pointer;
}
#masthead-b{
    cursor: pointer;
}
#skills-b{
    cursor: pointer;
}
#projects1-b{
    cursor: pointer;
}
#vision-b{
    cursor: pointer;
}
.navbar-menu :hover{
    background: #d49466;
    border-radius: 1px;
}
.navbar-menu li{
    padding:4px;
}
.navbar-toggleBtn{
    cursor:pointer;
    display:none;
    position:absolute;
    right: max(32px, 10%);
    font-size: 2rem;
    color: #d49466;
}
@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items:center;
        padding: max(4px, 1%) max(5px, 1.2%);
    }
    .navbar-menu{
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%;
        background: #263343;
    }
    .navbar-menu li{
        width:100%;
        text-align: center;
    }
    .navbar-toggleBtn{
        cursor:pointer;
        display:block;
    }
    .navbar-menu.active{
        display:flex;
    }
}
main{
    padding-top: max(80px, 10%);
    background: #f1edd9;
    width:100%;
    max-width: 100%;
}
.box-container{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    padding-bottom:5%;
    grid-template-rows: repeat(7,minmax(240px, 700px));
    gap: 0.8%;
}
.box-item {
    background: #F4F3EA;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius:5%;
  }

.first-page{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 13fr 42.6fr 11fr 10fr 10fr 8.23fr;
}
.first-page-line {
    border-right: 1px solid #263343; 
    grid-column: 1/7;
    grid-row: 2/6;
}
.first-page-photo{
    grid-column: 1/7;
    grid-row: 2/4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-page-photo-img{
    /*width: 100%;*/
    height: auto;
    max-height: 90%;
    max-width: 90%;
    /*object-fit: cover;*/
    border-radius: 20%;
    background-position: center;


}
.first-page-name{
    grid-column: 1/7;
    grid-row: 4/5;
}
.first-page-univname{
    grid-column: 7/13;
    grid-row: 1/7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-break: keep-all;
    margin-left: 5%;
    margin-right: 5%;
}
.first-page-univname h2{
    word-break: normal;
}
.first-page-classes{
    grid-column: 7/13;
    grid-row: 5/6;
}
.first-page-git{
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.first-page-linkedin{
    grid-column: 3/4;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.first-page-mail{
    grid-column: 4/5;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.first-page-phone{
    grid-column: 5/6;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.first-page h1{
    margin-top: 0;
    font-size: 2.4rem;
}
.first-page i{
    font-size: 2.0rem;
}
.first-page h2{
    font-size:1.8rem;
}
.first-page h3{
    font-size:1.5rem;
}

.second-page{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 92fr 117fr 117fr 117fr 117fr;
    word-break: keep-all;
    
}
.second-page-line {
    border-right: 1px solid #263343; 
    margin-top: 10%;
    height: 80%;
    grid-column: 1/3;
    grid-row: 1/6;
}
.second-page h1{
    font-size: 1.7rem;

}
.second-page h2{
    font-size:1.3rem;
    margin-top:0;
    margin-bottom: 0;
}
.second-page h3{
    font-size:1.1rem;
    margin-top:0;
}
.second-page-title{
    grid-column: 1/3;
    grid-row: 1/2;
}

.second-page-1-title{
    grid-column: 1/3;
    grid-row: 2/3;
}
.second-page-2-title{
    grid-column: 1/3;
    grid-row: 3/4;
}
.second-page-3-title{
    grid-column: 1/3;
    grid-row: 4/5;
}
.second-page-4-title{
    grid-column: 1/3;
    grid-row: 5/6;
}

.second-page-1-skills{
    grid-column: 3/5;
    grid-row: 2/3;
}
.second-page-2-skills{
    grid-column: 3/5;
    grid-row: 3/4;
}
.second-page-3-skills{
    grid-column: 3/5;
    grid-row: 4/5;
}
.second-page-4-skills{
    grid-column: 3/5;
    grid-row: 5/6;
}

.project-page1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 92fr 40fr 368fr 60fr;
    word-break: keep-all;

}
.project-page1-line {
    border-right: 1px solid #263343; 
    margin-top: 10%;
    height: 80%;
    grid-column: 1/2;
    grid-row: 1/5;
}
.project-page1 h1, .vision-page h1{
    font-size: 1.7rem
}
.project-page1 h2, .vision-page h2{
    font-size:1.3rem
}
.project-page1 h3, .vision-page h3{
    font-size:1.1rem
}
.project-page1-title{
    grid-column:1/2;
    grid-row:1/2;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
.project-page1-feature{
    grid-column: 1/2;
    grid-row: 2/3;
}
.project-page1-image{
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative; 
    height:90%;
    width:90%;
    margin-left: 5%;
    margin-right: 10%;
}
.project-page1-abstract{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/5;
    margin-left: 10%;
    margin-right: 10%;
}
.project-page1-link{
    grid-column: 1/2;
    grid-row: 4/5;
}
.project-page1-slide{
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative; 
    height:90%;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
}

.swiper {    
    max-height: 40vh;
    height:100%;
    max-width: 40vw;


  }
.swiper-slide img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}
.swiper-button-prev,.swiper-button-next{
    --swiper-theme-color: #263343;
}
.swiper-pagination{
    --swiper-theme-color: #f1edd9;
}
.vision-page{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 92fr 40fr 368fr 60fr;;
    word-break: keep-all;
}
.vision-page-line {
    border-right: 1px solid #263343; 
    margin-top: 10%;
    height: 80%;
    grid-column: 1/2;
    grid-row: 1/5;
}
.vision-page-title{
    grid-column: 1/2;
    grid-row: 1/2;
}
.vision-page-feature{
    grid-column: 1/2;
    grid-row: 2/3;
}
.vision-page-image{
    grid-column: 1/2;
    grid-row: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-page-image i{
    position: relative;
    font-size: 9rem;
}
.vision-page-article{
    grid-column: 2/3;
    grid-row: 1/5;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


