<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <header>
      <div class="container">
        <nav id="navbar-example2" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <p style="text-align: left"><a class="navbar-brand" href="#masthead">Suyoung Park' Portfolio</a></p>
            <div class="collapse navbar-collapse float-right" id="navbarNavAltMarkup">
              <div class="navbar-nav float-right">
                <a class="nav-link active" aria-current="page" href="#masthead">Home</a>
                <a class="nav-link" href="#aboutMe">About me</a>
                <a class="nav-link" href="#skills">Skills</a>
                <a class="nav-link" href="#experiences1">Experiences</a>
                <a class="nav-link" href="#projects1">Projects</a>
                <a class="nav-link" href='#vision'>Vision</a></h3>
              </div>
            </div>
            <div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
        </nav>
      </div>
      </headerdiv>
    </header>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" class="scroll-container"
      data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
      class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
      <div id='masthead' class="container p-4 p-md-5 mb-4 text-body-emphasis bg-body-secondary">
        <div>
          <div class=" ">
            <h2>SW Engineer Portfolio</h2>
            <h1>Suyoung Park</h1>
          </div>
        </div>
      </div>
      <article id='aboutMe' class="container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="p-20 pl-30 pr-30">
                <img src="../static/images/view/profile/profile.jpg" class="img-thumbnail rounded"
                  alt="suyoung profile image">
              </div>
              <div class="row">
                <div id=mastheadtxt class="'container">
                  <h2>Suyoung Park</h2>
                  <h3>Undergrate at University of Seoul</h3>
                  <div>
                    <i class="bi bi-github"><input type='button' value='Github' id="Github_btn"
                        onclick="location.href='https://github.com/vvvv1111vvvv'"></i>

                    <i class="bi bi-linkedin"><input type='button' value='Linked in' id="linkedIn_btn"
                        onclick="location.href='https://www.linkedin.com/in/suyoung-park9876/'"></i>

                  </div>
                </div>
                <div class="'container">
                  <div>
                    <h3>Mail Address</h3>
                    <i class="bi bi-envelope-at-fill"></i><a href="mailto:suyoung1999mail@gmail.com">suyoung1999mail.com</a>
                  </div>
                  <div>
                    <h3>Phone Number</h3>
                    <i class="bi bi-telephone"></i><a href="tel:010-3292-9239">010-3292-9239</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="'container">
              <div>

                <h4>Classes Taken Relevant to Desired Position</h4>

                <h5>Artificial Intelligence, Natural Language Processing, Machine Learning</h5>


                <h5>Introduction to Operating Systems, Computer Architecture, etc.</h5>
              </div>
            </div>
          </div>
        </div>
    </div>
    </article>
    <article id='skills' class='container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary'>
      <div class="row">
        <h2>Tools & Skills</h2>
      </div>
      <div class="row">
        <div class="'col">
          <ul>
            <h3>AI KOSPI Predicting Project</h3>
            <h4>Jun 28, 2022 ~ Jul 18, 2022</h4>
            <p><h5>LSTM model | Pandas, Numpy, Keras</h5></p><br><br>
            
          </ul>
        </div>
        <div class='col'>
          <ul>
            <h3>Number Classification and Image processing on Android Embedded System Project</h3>
            <h4>Nov 11, 202 ~ Dec 15, 2022</h4>
          <p><h5>OpenCV, OpenCL | Linux | Java, C</h5></p>
          </ul>
        </div>
      </div>
    </article>
    <article id='experiences1' class='container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary'>
      <div>
        <h2>Experience</h2>
      </div>
      <div>
        <h3>Paper Review: Multimodal Few-Shot Learning with Frozen Language Models</h3>
        <h4>Sep, 2022 ~ Oct, 2022</h4>
        <h5>Teams of four</h5>
      </div>
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000"> <img
              src="../static/images/view/experience1/experience1-1.PNG" class="d-block w-100" alt="img of Paper Review">
          </div>
          <div class="carousel-item"><img src="../static/images/view/experience1/experience1-2.PNG"
              class="d-block w-100" alt="img of Paper Review">
          </div>
          <div class="carousel-item"><img src="../static/images/view/experience1/experience1-3.PNG"
              class="d-block w-100" alt="img of Paper Review">
          </div>
          <div class="carousel-item"><img src="../static/images/view/experience1/experience1-4.PNG"
              class="d-block w-100" alt="img of Paper Review">
          </div>
          <div class="carousel-item"><img src="../static/images/view/experience1/experience1-5.PNG"
              class="d-block w-100" alt="img of Paper Review">
          </div>
          <div class="carousel-item"><img src="../static/images/view/experience1/experience1-6.PNG"
              class="d-block w-100" alt="img of Paper Review">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div>
        <div><b>Reviewed NLP multimodal NLP paper</b></div>
        <div>I was able to observe various attempts by
          researchers to enhance NLP performance. I also became aware of the existence of metrics
          for evaluating the performance of artificial intelligence models. Furthermore, I was
          able to develop the ability to identify limitations in research.<br>
        </div>
        <div>
        </div>
      </div>
    </article>
    <article id='projects1' class='container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary'>
      <div>
        <div>
          <div>
            <h2>Project1</h2>
          </div>
          <div>
            <h3>AI KOSPI Predicting Project</h3>
            <h4>Jun 28, 2022 ~ Jul 18, 2022</h4>
            <h5>Teams of two</h5>
          </div>
          <div id="carouselExampleDark2" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="8"
                aria-label="Slide 9"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000"><img
                  src="../static/images/view/projects1/projects1-1.PNG" class="d-block w-100"
                  alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-2.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-3.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-4.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-5.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-6.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-7.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-8.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
              <div class="carousel-item"><img src="../static/images/view/projects1/projects1-9.PNG"
                  class="d-block w-100" alt="img of AI KOSPI Predicting Project"></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div>
            <div><b>KOSPI Predicting with LSTM Model.</b></div>
            <div>Integrated artificial intelligence with the financial market. This project
              involves predicting the KOSPI for the period from July 1, 2021, to July 1, 2022, based on economic
              indicators from July 24, 2015, to June 30, 2021.<br>
              LSTM model | Pandas, Numpy, Keras</div>
            <div>
              <i class="bi bi-github"></i><a href="https://github.com/vvvv1111vvvv/KOSPI-Index-Predicting-Project__2022-summer">Github Link</a>
            </div>
          </div>
    </article>
    <article id='projects1-chart' class='container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary'>
      <div>
        <h2>Project1 Result Chart Image</h2>
      </div>
      <div>
        <h3>AI KOSPI Predicting Project</h3>
        <h4>project period : Jun 28, 2022 ~ Jul 18, 2022</h4>
        <h5>Teams of two</h5>
      </div>
      <div>
        <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
        <script>
          // 데이터
          var i = {{ y_pred }};
          var j = {{ Y_real }};
          var data = {
            labels: Array.from({ length: 245 }, (_, i) => i), // X축 데이터 (0부터 244까지)
            datasets: [
              {
                label: 'predict KOSPI',
                data: i,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: false,
              },
              {
                label: 'actual KOSPI',
                data: j, // 두 번째 Y값 데이터
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                fill: false,
              },
            ],
          };

          var options = {
            scales: {
              x: {
                type: 'linear',
                position: 'bottom',
                min: 0, // X축 최솟값
                max: 250, // X축 최댓값
              },
              y: {
                beginAtZero: true,
              },
            },
          };

          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options,
          });
        </script>
      </div>
      <div>
        <div><b>KOSPI Predicting with LSTM Model.</b></div>
        <div>Integrated artificial intelligence with the financial market. This project
          involves predicting the KOSPI for the period from July 1, 2021, to July 1, 2022, based on economic
          indicators from July 24, 2015, to June 30, 2021.<br>
          LSTM model | Pandas, Numpy, Keras</div>
        <div>
        </div>
      </div>
    </article>
    <article id='projects2' class='container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary'>
      <div>
        <h2>Project2</h2>
      </div>
      <div>
        <h3>Number Classification and Image Processing on Android Embedded System Project</h3>
        <h4>Nov 11, 202 ~ Dec 15, 2022</h4>
        <h5>Personal project</h5>
      </div>
      <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
              aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
              aria-label="Slide 7"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="../static/images/view/projects2/projects2-1.PNG" class="d-block w-100"
                alt="img of Number Classification Project">
            </div>
            <div class="carousel-item">
              <img src="../static/images/view/projects2/projects2-2.PNG" class="d-block w-100"
                alt="img of Number Classification Project">
            </div>
            <div class="carousel-item">
              <img src="../static/images/view/projects2/projects2-3.PNG" class="d-block w-100"
                alt="img of Number Classification Project">
            </div>
            <div class="carousel-item">
              <img src="../static/images/view/projects2/projects2-4.PNG" class="d-block w-100"
                alt="img of Number Classification Project">
            </div>
            <div class="carousel-item">
              <img src="../static/images/view/projects2/projects2-6.PNG" class="d-block w-100"
                alt="img of Number Classification Project">
            </div>
            <div class="carousel-item">
              <img src="../static/images/view/projects2/projects2-7.PNG" class="d-block w-100"
                alt="img of Number Classification Project">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div>
        <div><b>Number Classification and Image Processing.</b></div>
        <div>The project aims to recognize numbers from images captured by an Android embedded system.
          It applys OpenCV and OpenCL for image processing, allowing us to discern differences in
          number classification results based on the original image, edge-detection image, and blurred image.<br>
          OpenCV, OpenCL | Linux | Java, C.</div>
        <div>
          <i class="bi bi-github"></i><a href="https://github.com/vvvv1111vvvv/Number-Classification-and-Image-Processing-on-Android-Embedde__Applied-Microprocessor-Lab__2022-fall">Github
            Link</a>
        </div>
      </div>
    </article>
    <article id='vision' class='container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary'>
      <div>
        <h2>My Vision</h2>
      </div>
      <div>
        <h3>Become Porfessional in AI and adapt AI to Web developemt</h3>
      </div>
      <div>
      </div>
      <div>
        <div><b></b></div>
        <div>I aim to leverage my abilities to the fullest through this opportunity and contribute to the company. My
          goal as an
          intern applicant is to enhance my web development skills and facilitate proficiency improvement in tasks
          based on machine learning.
          Throughout this process, I aspire to establish a positive atmosphere through interactions with superiors and
          continue to build my career
        </div>
        <div>
        </div>
      </div>
    </article>
    <div class="PageUpButton">
      <input type="button" value="up" onclick="location.href= '#masthead'">
    </div>
    <footer class="Footer_Footer">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </div>
  </div>
</body>

</html>